/*********************************** Normalized style ****************************************/

/** Font **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/** Custom prepreties **/

:root {
  --clr-gray-darker: #3D3D3F;
  --clr-gray-dark: #6D6E72;
  --clr-gray-light: #E8EAEF;
  --clr-blue-darker: #3F549C;
  --clr-blue-dark: #506FB3;
  --clr-blue-light: #7086CC;
  --clr-teal-darker: #47C3CD;
  --clr-teal-dark: #5CDCE6;
  --clr-teal-light: #91ECF9;
  --clr-purple-darker: #5F539B;
  --clr-purple-dark: #776BB3;
  --clr-purple-light: #998FCC;
}


*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 50%;
  color: white;

}

body {
  font-family: 'Poppins', sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
}

/** Typography **/

h1 {
  margin-bottom: 2.2rem;
  font-size: 6.75rem;
  line-height: 5rem;
}

h2 {
  margin: 0 auto 10rem auto;
  font-size: 4.5rem;
  line-height: 5rem;
}

h3 {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  font-weight: normal;
  line-height: 4rem;
}

h4 {
  margin-bottom: 4rem;
  font-size: 3rem;
  line-height: 3.75rem;
}

p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  line-height: 5rem;
}

/** Button **/

.btn {
  border-radius: 5px;
  padding: 1.5rem 3rem;
}

/** Primary button **/

.btn-primary {
  color: black;
  background: linear-gradient(to right, var(--clr-teal-dark) 0%, var(--clr-purple-light));
}

.btn-primary:hover {
  background: linear-gradient(to right, var(--clr-teal-light) 0%, var(--clr-blue-dark));
}

.btn-primary:active {
  background: var(--clr-blue-dark);
}

/** accent button **/

.btn-acc {
  background: black;
}

.btn-acc:hover {
  color: black;
  background: white;
  outline: 1px solid black;
  outline-offset: -1px;
}

.btn-acc:active {
  background: var(--clr-teal-dark);
  outline: none;
}

/** Section **/

section {
  padding: 10rem 40rem;
}


/******************************************* Header **********************************************/

/** Header **/

header {
  min-width: 10rem;
  height: 100vh;
  background: url("../img/header-bg.jpg");
  padding: 4rem 16rem;
}

/** nav **/

nav {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 85px;
  height: 93px;
}

.nav-list {
  list-style: none;
  display: flex;
}

/** Hero **/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 2.8rem;
}

/** Hero img **/

.hero-img {
  height: 30rem;
  width: 30rem;
  filter: drop-shadow(0px 24px 48px rgba(0, 0, 0, 0.5));
  position: relative;
}



/** hero social **/
.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.social img+img {
  margin-top: 2rem;
}

.line {
  width: 1px;
  height: 13rem;
  background-color: white;
}

/** Welcom hero **/

.hero-welcome a {
  background: black;
  margin-left: 1rem;
}

/** Down arrow **/

.btn-rond {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 0 #333;
  background: #333;
  animation: pulse 1.3s infinite;
  margin: -14rem auto 0 auto;
}

.logo-btn-rond-acc {
  width: 35px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.01);
  }
}

/******************************************** About me ***************************************/

hr {
  width: 33rem;
  position: relative;
  left: 23rem;
  top: -10rem;
  margin: 0 0 -12rem 0;

}

.about-me {
  background-color: var(--clr-gray-darker);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  gap: 20rem;
}

.content img {
  width: 19rem;
  height: 19rem;
}

.about-section {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  color: white;
}

.about-me a {
  align-self: center;
  padding: .6rem 10rem;

}

/******************************** Portfolio ******************************/

.portfolio{
  width: 100%;
  min-height: 10rem;
  color: black;
  display: grid;
  place-items: center;
}

.portfolio h2{
  
}

.card-wrap{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  gap: 1rem;
}
/* .card1{
grid-area: 2 / 2 / 3 / 3; 
}
.card2{
grid-area: 2 / 4 / 3 / 5;
}
.card3{
grid-area: 2 / 6 / 3 / 7; 
} */
.card{
color: rgb(255, 255, 255);
background: linear-gradient(to top, #000000 0%, #5d5d5d00 100%);
text-align: center;
border-radius: 20px;
width: 100%;
height: 100%;
padding-bottom: 2rem;
display: flex;
flex-direction: column;
}

.card h4{
margin: 2rem auto;
}

.card a{
justify-self: flex-end;
}

/******************************** Contact ********************************/

.section-contact {
  width: 100%;
  background-color: var(--clr-gray-darker);
  color: white;
  display: grid;
  place-items: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

}

input {
  border: none;
  outline: none;
  width: 37rem;
  padding: .6rem 1.2rem;
  box-shadow: 2px 2px black;
}

.Message input {
  height: 7rem;
}

label {
  font-size: 1.5rem;
  font-weight: 20rem;
}

.section-contact a {
  align-self: center;
  padding: .6rem 5rem;
}

/********************************* Experieence ****************************************/

.experience {
  background-color: var(--clr-gray-darker);
  color: white;
  display: flex;
  flex-direction: column;
}



.exp {
  display: grid;
  grid-template-areas: "img date"
    ". para";
  grid-template-columns: 1fr 9fr;
  height: 28rem;

}


.exp img {

  width: 5rem;
  height: 5rem;
  
  grid-area: img;

}

.exp h4 {
  
  grid-area: date;

}

.exp p {
  grid-area: para;

}

/********************************************* Skills ******************************************/

.skills{
  background-color: var(--clr-gray-light);
  color: #000000;
  display: grid;
  place-items: center;
}

.progress {
	height: 3em;
	border-radius: 23px;
	box-shadow: none;
	background: #C8C8C8;
  color: #3D3D3F;
  height: 4rem;
}
.col{
  height: 100%;
	background: linear-gradient(to right,var(--clr-purple-dark) -4%, var(--clr-teal-darker) 95%);
  box-shadow: none;
  border-radius: 23px;
	float: left;
  font-size: 12px;
	line-height: 20px;
  -webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}

.JavaScript {
	width: 90%;
}
.SEO {
	width: 75%;
}
.UI {
	width: 70%;
}
.Node {
	width: 80%;
}
.Wordpress {
	width: 70%;
}
.React {
	width: 70%;
}

.container{

	width: 100%;
	margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0fr 1.5fr 1fr 1.5fr 1fr 1.5fr 0fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
 
}
.con1{
  grid-area: 6 / 1 / 7 / 2;
}
.con2{
  grid-area: 4 / 1 / 5 / 2;
}
.con3{
  grid-area: 2 / 1 / 3 / 2;
}
.con4{
  grid-area: 2 / 2 / 3 / 3; 
}
.con5{
  grid-area: 4 / 2 / 5 / 3;
}
.con6{
  grid-area: 6 / 2 / 7 / 3;
}
  
.con{
margin: 4rem 0 ;
}
@media (max-width:721px){
header{
  background:#35459E;
}
.hero-welcome h1{
  font-size: 5.5rem;
}

.social{
  display: none;
}
.hero-img{
  display: none;
}

.btn-rond{
  display: none;
}
.hero-welcome{
  grid-area: hero;
}
.about-me img{
  display: none;
}
.about-section hr{
  display: none;
}
.about-me{
  background: url(../img/header-bg.jpg);
  margin-top: 1rem;
  font-size: 4rem;
  padding: 3rem;
  color:white;
}
.about-section{
  color: white;
}
.portfolio{
  background: url(../img/header-bg.jpg);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  
}
.card-wrap{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
}
.title-text{
  color:white;
}
.card{
  gap: 1rem;
}
.experience{
  background: url(../img/header-bg.jpg);
  padding: 3rem;
  
}
.experience p{
  font-size: 1rem;
}
.experience h4{
  font-size: 2rem;
  margin-left: 1rem;
}
.skills{
  background: url(../img/header-bg.jpg);
  padding: 2rem;
  color:darkgray;
  
}
.Wordpress,.SEO,.UI,.React,.Node,.JavaScript{
  background: linear-gradient(to right#003B74,#35459E);
}

.section-contact{
  padding: 3rem;
  background: url(../img/header-bg.jpg);
}
input{
  background: white;
  opacity: 0.2;
  border-bottom: 2px solid white;
  border-radius: 1rem;
}
.f-name{
  gap: 1rem;
}
nav{
  display: none;
}
.skills .container{
  display: flex;
  flex-direction: column;
}

}
@media(max-width:975px){
  
  .carousel{
    background: yellow;
  }
header{
  padding: 10rem;
}
.line{
  height: 5rem;
}
.btn-rond{
  margin-top: 1.5rem;
}

.hero-welcome h1{
  font-size: 4rem;
}
.hero-welcome h3{
  font-size: 3rem;
}
.logo{
 display: none;
}

.about-me{
  background: #222326;
  padding: 5rem;
}
.about-section hr{
  display: none;
}
.portfolio{
  background:url(../img/header-bg.jpg);
  padding: 10rem;
}

.experience{
  padding: 5rem;
}
.skills{
  padding: 3rem;
}
.section-contact{
  padding: 5rem;
}

}


